
<div class="card-body" style="width: 50rem;">
  <h5>Datos iniciales</h5>
  <table class="table table-bordered  table-primary table-striped">
    <thead class="table-gray">
      <tr>
        <th >-</th>
        <th >V1</th>
        <th >V2</th>
        <th >V3</th>
        <th >V4</th>
        <th >V5</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elem of data; index as i">
        <th>D{{i+1}}</th>
        <th *ngFor="let linea of elem | keyvalue">{{ linea.value }}</th>
      </tr>
    </tbody>
  </table>
  
  <h5>Centros iniciales</h5>
  <table class="table table-bordered  table-info table-striped">
    <thead class="table-gray">
      <tr>
        <th >-</th>
        <th >V1</th>
        <th >V2</th>
        <th >V3</th>
        <th >V4</th>
        <th >V5</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elem of Centros1; index as i">
        <th>D{{i+1}}</th>
        <th *ngFor="let linea of elem | keyvalue">{{ linea.value }}</th>
      </tr>
    </tbody>
  </table>  
</div>
<div class="card-body" style="width: 50rem;">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Numero de Iteraciones</span>
    <input type="number" class="form-control" placeholder="0" [(ngModel)]="nIteraciones" (change)="HacerLasIteraciones(nIteraciones)">
  </div>
</div>

<div class="card-body" style="width: 50rem;" *ngFor="let x of DatosFinal; index as z">
  
  <h5>Datos de iteracion {{z+1}}</h5>
  <table class="table table-bordered  table-success table-striped">
    <thead class="table-gray">
      <tr>
        <th >{{z+1}}</th>
        <th >V1</th>
        <th >V2</th>
        <th >V3</th>
        <th >min</th>
        <th >Clus</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elem of DatosFinal[z]; index as i">
        <th>D{{i+1}}</th>
        
        <th *ngFor="let kv of elem | keyvalue">
          <div *ngIf="elem[4]==1" >
            <a style="background-color: lightblue;">{{ kv.value}}</a>
          </div>  
          <div *ngIf="elem[4]==2" >
            <a style="background-color: lightcoral;">{{ kv.value }}</a>
          </div>  
          <div *ngIf="elem[4]==3" >
            <a style="background-color: lightgreen;">{{ kv.value }}</a>
          </div>          
        </th>
      </tr>
    </tbody>
  </table>
  
  <h5>Centros de iteracion {{z+1}}</h5>
  <table class="table table-bordered  table-dark table-striped">
    <thead class="table-gray">
      <tr>
        <th >{{z+1}}</th>
        <th >V1</th>
        <th >V2</th>
        <th >V3</th>
        <th >V4</th>
        <th >V5</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elem of CentrosFinal[z]; index as i">
        <th>D{{i+1}}</th>
        <th *ngFor="let kv of elem | keyvalue "><span> {{ kv.value }} </span></th>
      </tr>
    </tbody>
  </table>
  
</div>