

<div class="card-body" style="width: 50rem;">  
  <h5>Datos iniciales</h5>
  <table class="table table-bordered  table-primary table-striped">
    <thead class="table-gray">
      <tr>
        <th >-</th>
        <th >V1</th>
        <th >V2</th>
        <th >V3</th>
        <th >V4</th>
        <th >V5</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elem of data; index as i">
        <th>{{i+1}}</th>
        <th *ngFor="let linea of elem | keyvalue">{{ linea.value }}</th>
      </tr>
    </tbody>
  </table>
  
  <h5>Centros iniciales</h5>
  <table class="table table-bordered  table-info table-striped">
    <thead class="table-gray">
      <tr>
        <th >-</th>
        <th >V1</th>
        <th >V2</th>
        <th >V3</th>
        <th >V4</th>
        <th >V5</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elem of Centros1; index as i">
        <th>Centro {{i+1}}</th>
        <th *ngFor="let linea of elem | keyvalue">{{ linea.value }}</th>
      </tr>
    </tbody>
  </table>  
</div>
<div class="card-body" style="width: 50rem;">
  <div class="input-group mb-3">
    <h4>No Pre-Definido</h4> 
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Clusters 2 O 3</span>
    <input type="number" class="form-control" placeholder="0" [(ngModel)]="nClusters">
    <span class="input-group-text" id="basic-addon1">Iteraciones</span>
    <input type="number" class="form-control" placeholder="1" [(ngModel)]="nIteraciones" >
    <button type="button" class="form-control" (click)="NPDHacerLasIteraciones(nIteraciones,nClusters)"> Dale caña </button>
  </div>
</div>

<div class="card-body" style="width: 50rem;" *ngFor="let x of DatosFinal; index as z">
  <div *ngIf=" nClusterF==3">
  <h5>Matriz de distancia iteración {{z+1}}</h5>
  <table class="table table-bordered  table-success table-striped">
    <thead class="table-gray">
      <tr>
        <th >{{z+1}}</th>
        <th >V1</th>
        <th >V2</th>
        <th>V3</th>
        <th >Minimo</th>
        <th >Clúster</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elem of DatosFinal[z]; index as i">
        
        <th>{{i+1}}</th>
        
        <th *ngFor="let kv of elem | keyvalue">
          <div *ngIf="elem[elem.length-1]==1" >
            <a >{{ roundNumber(kv.value)}}</a>
          </div>  
          <div *ngIf="elem[elem.length-1]==2" >
            <a >{{ roundNumber(kv.value)}}</a>
          </div>  
          <div *ngIf="elem[elem.length-1]==3" >
            <a >{{ roundNumber(kv.value) }}</a>
          </div>          
        </th>
        
      </tr>
    </tbody>
  </table>
  <div >
  <h5>Centros de iteración {{z+1}}</h5>
  <table class="table table-bordered  table-dark table-striped">
    <thead class="table-gray">
      <tr>
        <th >{{z+1}}</th>
        <th >V1</th>
        <th >V2</th>
        <th >V3</th>
        <th >V4</th>
        <th >V5</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elem of CentrosFinal[z]; index as i">
        <th>Centro {{i+1}}</th>
        <th *ngFor="let kv of elem | keyvalue "><span> {{ roundNumber(kv.value) }} </span></th>
      </tr>
    </tbody>
  </table>

</div>
<h5>Resultados {{z+1}}</h5>
<table class="table table-bordered  table-dark table-striped">
  <thead class="table-gray">
    <tr>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let elem of GruposFinal[z]; index as i">
      <th>Grupo {{i+1}}</th>
      <th ><span> {{ elem }} </span></th>
    </tr>
  </tbody>
</table>
</div>
<div *ngIf=" nClusterF==2">
  <h5>Matriz de distancia iteración {{z+1}}</h5>
  <table class="table table-bordered  table-success table-striped">
    <thead class="table-gray">
      <tr>
        <th >{{z+1}}</th>
        <th >V1</th>
        <th >V2</th>
        <th >Minimo</th>
        <th >Clúster</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elem of DatosFinal[z]; index as i">
        
        <th>{{i+1}}</th>
        
        <th *ngFor="let kv of elem | keyvalue">
          <div *ngIf="elem[elem.length-1]==1" >
            <a >{{ roundNumber(kv.value)}}</a>
          </div>  
          <div *ngIf="elem[elem.length-1]==2" >
            <a >{{ roundNumber(kv.value)}}</a>
          </div>  
          <div *ngIf="elem[elem.length-1]==3" >
            <a >{{ roundNumber(kv.value) }}</a>
          </div>          
        </th>
        
      </tr>
    </tbody>
  </table>
  <div >
  <h5>Centros de iteración {{z+1}}</h5>
  <table class="table table-bordered  table-dark table-striped">
    <thead class="table-gray">
      <tr>
        <th >{{z+1}}</th>
        <th >V1</th>
        <th >V2</th>
        <th >V3</th>
        <th >V4</th>
        <th >V5</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elem of CentrosFinal[z]; index as i">
        <th>Centro {{i+1}}</th>
        <th *ngFor="let kv of elem | keyvalue "><span> {{ roundNumber(kv.value) }} </span></th>
      </tr>
    </tbody>
  </table>

</div>
<h5>Resultados {{z+1}}</h5>
<table class="table table-bordered  table-dark table-striped">
  <thead class="table-gray">
    <tr>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let elem of GruposFinal[z]; index as i">
      <th>Grupo {{i+1}}</th>
      <th ><span> {{ elem }} </span></th>
    </tr>
  </tbody>
</table>
</div>
</div>

<h1>Datos Finales</h1>
<div class="card-body" style="width: 50rem;" *ngFor="let x of DatosFinal; index as z">
  <div *ngIf="z==DatosFinal.length-1  && nClusterF==3">
    <div class="card">
      <div class="card-body max-size">
        <div class="row">            
            <div class="col-sm-12 col-md-6">
              <div class="card" style="width: 50rem;">
                <h5>Resultados Finales</h5>
              <table class="table table-bordered  table-dark table-striped">
                <thead class="table-gray">
                  <tr>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let elem of GruposFinal[z]; index as i">
                    <th>Grupo {{i+1}}</th>
                    <th ><span> {{ elem }}</span></th>
                  </tr>
                </tbody>
              </table>
              
    <div class="card" style="width: 50rem;">
      <canvas baseChart
        [datasets]="scatterChartData"
        [options]="scatterChartOptions"
        [chartType]="scatterChartType">
      </canvas>
      
      
    </div>
              </div>
    
            </div>
        </div>
      </div>
    </div>
</div>
<div *ngIf="z==DatosFinal.length-1  && nClusterF==2">
<div class="card">
  <div class="card-body max-size">
    <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="card" style="width: 50rem;">
            <h5>Resultados Finales </h5>
          <table class="table table-bordered  table-dark table-striped">            
            <tbody>
              <tr *ngFor="let elem of GruposFinal[z]; index as i">
                <th>Grupo {{i+1}}</th>
                <th ><span> {{ elem }} </span></th>
              </tr>
            </tbody>
          </table>
          
<div class="card" style="width: 50rem;">
  <canvas baseChart
    [datasets]="scatterChartData"
    [options]="scatterChartOptions"
    [chartType]="scatterChartType">
  </canvas>
  
	
</div>
          </div>

        </div>
    </div>
  </div>
</div>
</div>


